# Print

In [ ]:
print(5)

5

In [ ]:
a=5

In [ ]:
print(a)

5

In [ ]:
a=10

In [ ]:
print(a)

10

In [ ]:
print("John")

John

#Comparison

In [ ]:
if 5>2:
  print("Five is greater than two")

Five is greater than two

In [ ]:
if 5>2:
  print("Five is greater than two")
  if 5>2:
    print("Five is greater than two")

Five is greater than two
Five is greater than two

#Comments


1.   Single line
2.   Multi line

In [ ]:
#this is a comment
print("Hello world")

Hello world

In [ ]:
#Thsi is a comment
#writtern in more than one line
print("How are you")

How are you

In [ ]:
"""
This is a comment
writtern in more than one line
"""
print("How are you")

How are you

#Variables

In [ ]:
name="Jimmy"

In [ ]:
print(name)

Jimmy

In [ ]:
age=21

In [ ]:
print(age)

21

In [ ]:
x=34
y="Foden"

In [ ]:
print(x)
print(y)

34
Foden

#Data Types

In [ ]:
x=4 #x is of tye int
x="Salty" #x is of type str
print(x)

Salty

In [ ]:
x=str(3) #x will be '3'
y=int(3) #x will be 3
z=float(3) #x will be 3.0

In [ ]:
print(x,y,z)

3 3 3.0

In [ ]:
x=5
y="Kane"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
type(y)

str

#Python is Case Sensitive

In [ ]:
a=23
A='Honey'
print(a)
print(A)
#A will not replace a

23
Honey

#Dont assign values to keywords

In [ ]:
print=4

In [ ]:
print

4

In [ ]:
print('shh')

TypeError: 'int' object is not callable

In [ ]:
#This will redifine print to its builtin function
import builtins
print = builtins.print

#More Printing

In [ ]:
name = ' ""dope"" '

In [ ]:
print(name)

 ""dope""

In [ ]:
type(name)

str

#Complex Numbers
j is used as the complex indicator

In [ ]:
com=2+3j
print(com)
type(com)

(2+3j)

complex

##Printing real part and imagenary part seperately

In [ ]:
print(com.real)

2.0

In [ ]:
print(com.imag)

3.0

In [ ]:
type(com.real)

float

In [ ]:
type(com.imag)

float

#Boolean Data Type

In [ ]:
print(True+True+True)

3

In [ ]:
print(False+False+False)

0

In [ ]:
print(True and False)

False

#None Data type

In [ ]:
a=None

In [ ]:
print(a)

None

In [ ]:
type(a)

NoneType

# SEQUENCE TYPE (COLLECTION OF DATA)

##List
Lists are ordered (the order of elements matters).

Lists can contain any arbitrary objects (e.g., numbers, strings, functions, classes).

List elements can be accessed by index.

Lists can be nested (contain other lists).

Lists are mutable (you can modify their contents).

Lists are dynamic (you can add or remove elements).

In [ ]:
a = ['foo', 'bar', 'baz', 'qux']
print(a)  # Output: ['foo', 'bar', 'baz', 'qux']

['foo', 'bar', 'baz', 'qux']

##Tuple
A tuple is an ordered, immutable collection of objects.

Tuples are immutable (you cannot modify their contents after creation).

Tuples can contain any assortment of objects (similar to lists).

Tuple elements can be accessed by index.

Tuples are often used for grouping related data.

Infinite Length

iterable

Allows Duplicate members

In [ ]:
t = (10, 'apple', 3.14)
print(t)  # Output: (10, 'apple', 3.14)

(10, 'apple', 3.14)

In [ ]:
t[1]

'apple'

In [ ]:
t.append(33) #Tuples are immutable (you cannot modify their contents after creation).

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
t1=["apple","banana","cherry"]
t2=tuple(t1)
print(type(t1))
print(type(t2))
t1[0]

<class 'list'>
<class 'tuple'>

'apple'

In [ ]:
tuple?

In [ ]:
t3=("jack","john","peter","john")
t4=list(t3)
print(t4)

['jack', 'john', 'peter', 'john']

In [ ]:
t5=(12,23,21)
print(t3.count("john"))
print(sum(t5))
print(t5.index(23))
print(min(t5))
print(max(t5))

2
56
1
12
23

##Range
A range represents an immutable sequence of numbers.

It is commonly used for looping and generating sequences of integers.

Ranges are defined using the range() function.

In [ ]:
r1 = range(1, 10)  # Generates numbers from 1 to 9
print(list(r1))  # Output: [1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
r2 = range(1,20,3)

print(r2)

print(list(r2))

for n in r2:
  print(n)

range(1, 20, 3)
[1, 4, 7, 10, 13, 16, 19]
1
4
7
10
13
16
19

#Mapping Types
##Dictionary
A dictionary is an ordered collection of unique values stored as key-value pairs.

Each key in the dictionary maps to a corresponding value.

Dictionaries are created using curly braces {} and contain comma-separated key-value pairs.

ordered: Starting from Python 3.7, dictionaries maintain the order of insertion

mutable: You can modify, add, or remove items from a dictionary after its creation.

No Duplicates: Each key in a dictionary is unique; duplicate keys are not allowed.

Access by Key: You can access values by using their corresponding keys.

Flexible Data Types: Dictionary values can be of any data type (e.g., strings, integers, lists, other dictionaries).

key of a dictionary can only be immutable objects. (eg: tuple, string, numbers(int,float,complex))

list, dictionary, set these cannot be a key of a dictionary

In [ ]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}

In [ ]:
#Accessing Values:
#Retrieve values by using their keys
print(my_dict["name"])  # Output: "Alice"

Alice

In [ ]:
#Modify an existing value
my_dict["age"] = 31
print(my_dict)

{'name': 'Alice', 'age': 31, 'city': 'New York'}

In [ ]:
#Add a new key-value pair
my_dict["gender"] = "Female"
print(my_dict)

{'name': 'Alice', 'age': 31, 'city': 'New York', 'gender': 'Female'}

In [ ]:
#Removing Items:
#Use the del keyword to remove a key-value pair:
del my_dict["city"]
print(my_dict)

{'name': 'Alice', 'age': 31, 'gender': 'Female'}

In [ ]:
#Length of a Dictionary:
#To find the number of key-value pairs in a dictionary, use the len() function
print(len(my_dict))  # Output: 3

3

In [ ]:
dict1 = {"name" : "Hadhi", "age" : 21, "sex" : "Male"}

In [ ]:
dict1[1] # Dictionary cannot be assesed with index numbers

KeyError: 1

In [ ]:
dict1["Age"] #Case sensitive

'Hadhi'

In [ ]:
dict1["name"]="Hadhi Mishab P K"

In [ ]:
print(dict1)

In [ ]:
dict2={"name":"Hunt","age":22,"sex":"Male","Occupation":"F1 Driver"}
print(dict2)
print(dict2["Occupation"])

{'name': 'Hunt', 'age': 22, 'sex': 'Male', 'Occupation': 'F1 Driver'}
F1 Driver

### Adding a data to dictionary

In [ ]:
dict2["language"]="english"

In [ ]:
dict2

{'name': 'Hunt',
 'age': 22,
 'sex': 'Male',
 'Occupation': 'F1 Driver',
 'language': 'english'}

In [ ]:
dict2.update({"age":31})

In [ ]:
print(dict2)

{'name': 'Hunt', 'age': 31, 'sex': 'Male', 'Occupation': 'F1 Driver', 'language': 'english'}

In [ ]:
dict3={"name":"Jack","age":22,"sex":"Male","Occupation":"F1 Driver","language":"english","car":"Maclaren"}

In [ ]:
print(dict3)

{'name': 'Jack', 'age': 22, 'sex': 'Male', 'Occupation': 'F1 Driver', 'language': 'english', 'car': 'Maclaren'}

In [ ]:
del dict3["sex"]

In [ ]:
print(dict3)

{'name': 'Jack', 'age': 22, 'Occupation': 'F1 Driver', 'language': 'english', 'car': 'Maclaren'}

In [ ]:
dict3.pop("name") # this will pop the indicated item

'Jack'

In [ ]:
print(dict3)

{'age': 22, 'Occupation': 'F1 Driver', 'language': 'english', 'car': 'Maclaren'}

In [ ]:
dict3.popitem() # this will pop out the last item

('car', 'Maclaren')

In [ ]:
print(dict3)

{'age': 22, 'Occupation': 'F1 Driver', 'language': 'english'}

In [ ]:
print(dict3["Occupation"]) # this is like acessing the data. square brackeets. shows error if we input someting which is not a key

F1 Driver

In [ ]:
print(dict3.get("Occupatn")) # this is like a search. round brackets, shows the result if the input is available as a key. if not, returns none

None

In [ ]:
print(dict3.keys())

dict_keys(['age', 'Occupation', 'language'])

In [ ]:
print(dict3.values())

dict_values([22, 'F1 Driver', 'english'])

In [ ]:
type(dict3.keys())

dict_keys

# Set Types

## 1  Set
A set is an unordered collection of unique elements.

Sets are mutable, meaning you can add or remove elements.

Sets do not allow duplicate values.

Sets are represented by curly braces {} or by using the set() constructor.

You can perform set operations like union, intersection, and difference

In [ ]:
my_set = {1, 2, 3, 4}
print(my_set)  # Output: {1, 2, 3, 4}

{1, 2, 3, 4}

In [ ]:
names={"peter","john","jack"}
print(names)
names.add("jimi")
print(names)
k=names.pop()
print(k)
names.remove("peter")
print(names)
names.clear()
print(names)

{'john', 'jack', 'peter'}
{'john', 'jack', 'peter', 'jimi'}
john
{'jack', 'jimi'}
set()

In [ ]:
set1={"cap","shirt","shoes","pants"}
set2={"cap","shirt","shoes"}
b=set1.intersection(set2)
print(b)
c=set1.union(set2) # is same as c=set.union(set1,set2)
print(c)
d=set1.difference(set2)
print(d)
b==set.intersection(set1,set2)
f=c=set.union(set1,set2)
print(f)

{'shirt', 'shoes', 'cap'}
{'shoes', 'cap', 'shirt', 'pants'}
{'pants'}
{'shoes', 'cap', 'shirt', 'pants'}

In [ ]:
print(set.isdisjoint(set1,set2))

False

In [ ]:
print(set1.isdisjoint(set2))

False

##Frozenset
A frozenset is an immutable version of a set

Frozensets cannot be modified after creation (no adding or removing elements).

Frozensets are hashable, which means they can be used as dictionary keys or as elements of another set.

In [ ]:
my_frozenset = frozenset([10, 20, 30])
print(my_frozenset)  # Output: frozenset({10, 20, 30})

frozenset({10, 20, 30})

In [ ]:
set3={1,2,3,4}
set5=(11,22,33,44)
set4=frozenset(set3)
print(set4)
print(type(set4))
print(type(set3))
set3.add(23)
print(set3)
print(set4.union(set5)) #the union of a frozen set with any other set is also a frozen set

frozenset({1, 2, 3, 4})
<class 'frozenset'>
<class 'set'>
{1, 2, 3, 4, 23}
frozenset({1, 2, 3, 4, 33, 11, 44, 22})

# BOOLEAN DATA TYPES

  True

  False

#Data type casting

In [ ]:
age=19

In [ ]:
print(type(age))

<class 'int'>

In [ ]:
age=str(age)

In [ ]:
print(type(age))

<class 'str'>

In [ ]:
num=13.23

In [ ]:
num1=int(num)

In [ ]:
type(num)

float

In [ ]:
type(num1)

int

In [ ]:
print(num)

13.23

In [ ]:
print(num1)

13

In [ ]:
num2=complex(num)

In [ ]:
type(num2)

complex

In [ ]:
print(num2)

(13.23+0j)

In [ ]:
print(num2.imag)

0.0

In [ ]:
print(num2.real)

13.23

In [ ]:
num2real=num2.real

# Operators
  Arithmetic Operators

  Assignment Operators.
  
  comparison Operators
  
  Logical Operators
  
  Identity Operators
  
  Membership Opgators

## Arithmetic Operator

  Addition

  Subtraction

  Multiplication

  Modulus

  Exponentiation

  Floor Division

#Addition

In [ ]:
x=23
y=34
print(x+y)

57

In [ ]:
print(type(x+y))

<class 'int'>

In [ ]:
print(x-y)

-11

In [ ]:
print(x*y)

782

In [ ]:
c=360
d=80
print(c/d)

4.5

In [ ]:
#floor
print(c//d)

4

In [ ]:
#moulus
print(c%d)

40

In [ ]:
#Exponentiation
print(2**10)

1024

# Comparison Operaor
Equal x == y

Not equal x != y

Greater than x > y

less than x < y

Greater than or equal to x >= y

less than or equal to x <= y

In [ ]:
x=25
y=10

In [ ]:
print(x==y)

False

In [ ]:
print(x>=y)

True

In [ ]:
print(x!=y)

True

In [ ]:
print(type(x)==type(y))

True

In [ ]:
e="happy"
f="sad"

In [ ]:
print(type(e)==type(f))

True

In [ ]:
print(e==f)

False

In [ ]:
g="Happy"

In [ ]:
print(e==g)

False

#Logical Operators

In [ ]:
True and True

True

In [ ]:
True and False

False

In [ ]:
False and True

False

In [ ]:
False and False

False

In [ ]:
True or True

True

In [ ]:
True or False

True

In [ ]:
False or True

True

In [ ]:
False or False

False

In [ ]:
not True

False

In [ ]:
not False

True

In [ ]:
h=10
i=20

In [ ]:
h==i and h!=i

False

In [ ]:
print(_)

False

# Identity Operators

1.   is
2.   is not

In [ ]:
x is y

False

In [ ]:
x is not y

True

In [ ]:
type(x) is type(y)

True

# Membership Operator

1.   in
2.   not in

In [ ]:
"d" in name

True

In [ ]:
'"' in name

True

# Slicing

In [ ]:
L=["Apple","Banana","Cherry","Berry","orange"]

In [ ]:
L[0]

'Apple'

In [ ]:
L[0:^]

['Apple', 'Banana', 'Cherry', 'Berry', 'orange']

In [ ]:
L[-1]

'orange'

# Append, Extend, Insert

##Append
it will only take one element. so either put one element listname.append(value)

or

give a list of vales as a single element listname.append([value1, value2, ....])

In [ ]:
L2=['a','b','c','d']

In [ ]:
L2.append('e')

In [ ]:
L2

['a', 'b', 'c', 'd']

In [ ]:
L2[3]

'd'

In [ ]:
L2.append(['f','g','h']) # this list will be added as a single element

In [ ]:
L2

['a', 'b', 'c', 'd', ['f', 'g', 'h']]

In [ ]:
L2[5]

['f', 'g', 'h']

In [ ]:
L2[5][1]

'g'

##Extend
 it will take one or more values listname.extend()

In [ ]:
L3 = ['a','b','c','d']

In [ ]:
L3.extend('happy') #each letter of the word is added as different element

In [ ]:
L3

['a', 'b', 'c', 'd', 'h', 'a', 'p', 'p', 'y']

In [ ]:
L3.extend([happy,sad])

NameError: name 'happy' is not defined

In [ ]:
L3.extend(["happy","sad"])
# now the words are insterted seperately
# not the letters

In [ ]:
L3

['a', 'b', 'c', 'd', 'h', 'a', 'p', 'p', 'y', 'happy', 'sad', 'happy', 'sad']

##Insert
it will recieve two things

1.   the index number the value should be added
2.   The value that is to be added at the mentioned index

listname.insert(indexnumber,value)

In [ ]:
L4 = ['a','b','c','d']

In [ ]:
L4.insert(1,"B")

In [ ]:
L4

['a', 'B', 'b', 'c', 'd']

In [ ]:
L4.insert(3,"D")

In [ ]:
L4

['a', 'B', 'b', 'D', 'E', 'c', 'd']

#Pop, Remove, Delete

##POP
Pop can be used in two ways

1.   listname.pop() this will pop out the last element(the element residing at the largest index)
2.   listname.pop(indexnumber) This will pop out the value at the mentioned index
3.   removeditem = listname.pop() this will remove the last number from the list and store it the varioable. also the desired index number can be mentioned in the brackets, so that specific value will be removed from the list and store it in the variable

In [ ]:
L5=['a','b','c','d']
L5.pop(2) #This will delete the value at 3rd index

'c'

In [ ]:
L5

['a', 'b', 'd']

In [ ]:
L5=['a','b','c','d']
L5.pop() #This will delete last value

'd'

In [ ]:
L5

['a', 'b', 'c']

##Remove
The remove() method is called on a list and takes a single argument, which is the value to be removed.

syntax: list.remove(value)

If the specified value exists in the list, the first occurrence of that value is removed.


If the value is not found in the list, it raises a ValueError.


The list is modified in-place, meaning the original list is changed.

If you need to remove all occurrences of a value, consider using a loop or list comprehension.

In [ ]:
L6=["car","bike","truck","bus","plane"]

In [ ]:
L6.remove("bike")

In [ ]:
L6

['car', 'truck', 'bus', 'plane']

In [ ]:
my_list = [10, 20, 30, 20, 40]
my_list.remove(20)  # Removes the first occurrence of 20
print(my_list)  # Output: [10, 30, 20, 40]

[10, 30, 20, 40]

## Delete (del)
To remove an item from a list, use del followed by the list name and the index of the item you want to delete.


my_list = [1, 2, 3, 4]

del my_list[2]  # Removes the element at index 2 (value 3)


You can also delete a slice (a range of elements) from a list.

my_list = [1, 2, 3, 4, 5]

del my_list[1:3]  # Removes elements at indices 1 and 2


To delete an entire list or any other object, use del followed by the object name.

my_list = [1, 2, 3]

del my_list  # Deletes the entire list

In [ ]:
L7=["car","bike","truck","bus","plane"]
del L7[1]
L7

['car', 'truck', 'bus', 'plane']

In [ ]:
L7=["car","bike","truck","bus","plane"]
del L7[1:3] # Removes elements at indices 1 and 2
L7

['car', 'bus', 'plane']

In [ ]:
L7=["car","bike","truck","bus","plane"]
del L7 # Deletes the entire list
L7

NameError: name 'L7' is not defined

# Count

In [ ]:
# To check the no.of times the element is appered in the list
L8=["ironman","spiderman","ironman","Black","cap"]

In [ ]:
L8.count("ironman")

2

In [ ]:
L9=[37, 25, 48, 33, 30, 44, 41, 39, 47, 29, 38, 49, 32, 43, 31, 40, 26, 50, 34, 45, 28, 36, 46, 27, 35, 37, 25, 48, 33, 30, 44, 41, 39, 47, 29, 38, 49, 32, 43, 31, 40, 26, 50, 34, 45, 28, 36, 46, 27, 35,]

In [ ]:
len(L9)

50

In [ ]:
L9.count(25)

2

#Minimum and maximum

In [ ]:
L10=[-56, 78, -3, 42, 91, -17, 64, -89, 27, -70, 13, 55, -98, 5, 37, -81, 49, -24, 88, -46, 19, 73, -33, 67, -12, 84, -62, 31, -93, 59, -7, 76, -39, 22, 94, -52, 43, -85, 10, 52, -29, 70, -2, 34, -78, 61, -15, 82, -67, 40, -92, 58, -4, 75, -36, 21, 93, -51, 44, -84, 9, 51, -28, 69, -1, 33, -77, 62, -14, 83, -66, 41, -91, 57, -5, 74, -35, 20, 92, -50, 45, -83, 8, 50, -27, 68, -11, 32, -76, 63, -13, 81, -65, 39, -90, 56, -6, 72, -38, 23, 95, -53, 46, -82, 11, 53, -26, 71, -16, 35, -80, 60, -8, 77, -37, 24, 96, -54, 47, -79, 12, 54, -25, 72]

In [ ]:
max(L10)

96

In [ ]:
min(L10)

-98

In [ ]:
len(L10[9:17])

8

In [ ]:
max(L10[9:17])

55

#Sum
syntax:  sum(listname)

gives the sum of values in the list

In [ ]:
sum(L10)

1077

In [ ]:
sum(L10[9:17])

-90

#Sort


1.   Ascending order
2.   Decending order
3.   Reverse

In [ ]:
L11=[25, 41, 0, 14, -26, 54, 11, 12, 72, -121]
L11.sort() # this will sort in the asending order
L11

[-121, -26, 0, 11, 12, 14, 25, 41, 54, 72]

In [ ]:
L11=[25, 41, 0, 14, -26, 54, 11, 12, 72, -121]
L11.sort(reverse=True) #This wiil sort in desending order
L11

[72, 54, 41, 25, 14, 12, 11, 0, -26, -121]

In [ ]:
L11=[25, 41, 0, 14, -26, 54, 11, 12, 72, -121]
L11.sort(reverse = False) #This wiil sort in ascending order
L11

[-121, -26, 0, 11, 12, 14, 25, 41, 54, 72]

In [ ]:
L11=[25, 41, 0, 14, -26, 54, 11, 12, 72, -121]
L11.reverse() #This will just reverse the list
L11

[-121, 72, 12, 11, 54, -26, 14, 0, 41, 25]

# String

In [ ]:
a = "Men love women,"
b = " but even more than that,"
c = " men love cars"

In [ ]:
print(len(a))

15

In [ ]:
print(a.count("men"))

1

In [ ]:
print(b.count("e"))

3

In [ ]:
print(c[-2])

r

In [ ]:
print(c[2:7:2])

e o

## Concatenate

In [ ]:
z = a + b + c

In [ ]:
print("Men" in z)

True

In [ ]:
print(z.count("love"))

2

In [ ]:
print(len(z))

54

## Substitution

In [ ]:
d = "Python is easy to learn"
e = "and easy to use"
print(d,e)

Python is easy to learn and easy to use

In [ ]:
print(d.replace("learn","learn and use"))

Python is easy to learn and use

In [ ]:
e.startswith("and") # this will check if the string starts with the indicated string

True

In [ ]:
e.endswith("use")

True

In [ ]:
d.startswith("easy",10)

True

In [ ]:
d.endswith("o",16,17)

True

In [ ]:
text = "In the blackmid winter."

In [ ]:
text.endswith("winter.")

True

In [ ]:
string4 = "the coefficient of linear expantion is the position of haemoglobin in the atmosphere"

In [ ]:
print(string4.find("position"))

43

In [ ]:
print(string4.find("of")) # this will give the first result from the left

16

In [ ]:
print(string4.find("of",18,len(string4))) # This will give the result by searching from 18th to last of the string

52

In [ ]:
# gives the smallest index by searching the input
string4.find?

In [ ]:
string4.rfind?

In [ ]:
L1 = string4.split(" ") # split at every indicated character

In [ ]:
print(L1)

['the', 'coefficient', 'of', 'linear', 'expantion', 'is', 'the', 'position', 'of', 'haemoglobin', 'in', 'the', 'atmosphere']

In [ ]:
type(L1)

list

In [ ]:
L2 = "@".join(L1) # join the list elements with indicated character

In [ ]:
print(L2)

the@coefficient@of@linear@expantion@is@the@position@of@haemoglobin@in@the@atmosphere

In [ ]:
string4.capitalize() #this will captalise only the first character and all other lower case

'The coefficient of linear expantion is the position of haemoglobin in the atmosphere'

In [ ]:
string4.capitalize?

In [ ]:
string4.upper()

'THE COEFFICIENT OF LINEAR EXPANTION IS THE POSITION OF HAEMOGLOBIN IN THE ATMOSPHERE'

In [ ]:
string4.lower()

'the coefficient of linear expantion is the position of haemoglobin in the atmosphere'

In [ ]:
string4.upper()

'THE COEFFICIENT OF LINEAR EXPANTION IS THE POSITION OF HAEMOGLOBIN IN THE ATMOSPHERE'

In [ ]:
string4.capitalize()

'The coefficient of linear expantion is the position of haemoglobin in the atmosphere'

In [ ]:
string4.title?

In [ ]:
string4.title() #every word will be starting with capital

'The Coefficient Of Linear Expantion Is The Position Of Haemoglobin In The Atmosphere'

In [ ]:
string5 = "22 million dollars in 3 fuckin hours"

In [ ]:
string6 = "22milliondollarsin3fuckinhours"

In [ ]:
string5.isalnum?

In [ ]:
string4.isalnum()

False

In [ ]:
string5.isalnum()

False

In [ ]:
string6.isalnum()

True

In [ ]:
string5.istitle?

In [ ]:
string5.istitle()

False

In [ ]:
string5.islower()

True

In [ ]:
string5.isupper()

False

# User Input

In [ ]:
name = input("Enter your name: ")
age = float(input("Enter your age: "))

Enter your name: blake
Enter your age: 23

In [ ]:
print(name,age)

blake 23.0

In [ ]:
print(type(name))

<class 'str'>

In [ ]:
print(type(age))

<class 'float'>